.btnSignOut {
  display: flex;
  justify-content: center;
  float: right;
  margin-left: 100%;
  margin-right: 100%;
  right: 0;
  margin-left: 88%;
  width: 15%;
  height: 8%;
  font-size: 20px;
  border-radius: 15px;
  background-color: #34495e;
  color: white;
  transition: 0.8s;
}
.btnSignOut:hover {
  border-radius: 15px;
  background-color: white;
  color: #34495e;
}

.appBar {
  border-radius: 10px;
}
.reposCard {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
}
.repoCard {
  text-decoration-line: none;
}
.repoCard:hover {
  text-decoration-line: underline;
  background-color: rgb(248, 248, 248);
}
.todoCard {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.todoDetailCard {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.todoListCard {
  margin-bottom: 10px;
}
.todoListCard:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}

.TodoInput {
  margin-top: 15px;
}
.TodoList {
  margin: 0;
  padding: 0;
}
.TodoDetailList {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.todoDetailListCard {
  margin-bottom: -4px;
  height: 50px;
  padding-top: -20px;
}
.todoDetailListCard:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}
.noneLine {
  text-decoration: none;
}
.line {
  text-decoration-line: line-through;
}
.textField {
  width: 78%;
}
.addBtn {
  width: 20%;
}
.btnSignIn {
  border-radius: 15px;
  margin-top: 85px;
  display: flex;
  align-items: center;

  justify-content: center;
  transition: 0.4s;
}

.todoText {
  color: #34495e;
  margin-top: 100px;
  margin-left: 45px;
  margin-bottom: 30px;
  font-family: cursive;
  font-weight: bold;
}
.getReposBtn {
  background: transparent;
  border: none !important;
}
.detailsBtn {
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  width: 80px;
}
.detailsBtn:hover {
  cursor: pointer;
  text-decoration-line: underline;
  color: blue;
}
